.hero-section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background:#94c5ce74;

    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
}

.custom-title{
	color:#585c60;
}
.hero-section .btn{
    border-radius: 50px;
    padding: 12px 30px;
	opacity: .8;
	
}

.t-primary{
	color: #5b95c8;
	font-size: 30px !important;
}


.t-primary p{
    font-size: 30px !important;
}

 

.collage img{
    width:100%;
    height:120px;
    object-fit:cover;
    transition:0.3s;
	opacity: 0.6;
}

.collage img:hover{
    transform:scale(1.05);
}
/*card*/
.form-container {
	width: 100%;

	background:#ffffff;
	background-repeat: no-repeat;
	background-size: cover;
    align-items: center;
    justify-content: center;
	padding: 24px;
	position: relative;
	overflow: hidden;

}

.tabs {
	display: flex;
	margin-bottom: 20px;
}

.tabs label {
	flex: 1;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	color: rgb(75, 74, 74);
	border-bottom: 2px solid rgb(219, 219, 230);

}


#All:checked~.tabs label[for="All"],
#kabul:checked~.tabs label[for="kabul"],
#mzar:checked~.tabs label[for="mzar"],
#bamyan:checked~.tabs label[for="bamyan"],
#norstan:checked~.tabs label[for="norstan"],
#badqshan:checked~.tabs label[for="badqshan"],
#herat:checked~.tabs label[for="herat"],
#qazni:checked~.tabs label[for="qazni"],
#nangr:checked~.tabs label[for="nangar"]
{
                                                                            
                                color: #4facfe;
                                border-bottom: 2px solid #4facfe;

 }

input[type="radio"] {
	display: none;
}


.form{
    display: none;
    flex-wrap: wrap;
    gap: 20px;
}

#All:checked~.form-container .All-form {
	display: flex;
}

#kabul:checked~.form-container .kabul-form {
	display: flex;
}

#mzar:checked~.form-container .mzar-form {
	display: flex;
}

#bamyan:checked~.form-container .bamyan-form {
	display: flex;
}
#norstan:checked~.form-container .norstan-form {
	display: flex;
}
#badqshan:checked~.form-container .badqshan-form {
	display: flex;
}
#herat:checked~.form-container .herat-form {
	display: flex;
}

#qazni:checked~.form-container .qazni-form {
	display: flex;
}

#nangr:checked~.form-container .nangr-form {
	display: flex;
}